---
---
@import "{{ site.theme }}";

@import "variables";
@import "stepper";
@import "embed";

/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #363636;
  color: #e6e1dc;
}

.hljs-comment,
.hljs-quote {
  color: #bc9458;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #c26230;
}

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #a5c261;
}

.hljs-subst {
  color: #519f50;
}

.hljs-tag,
.hljs-name {
  color: #e8bf6a;
}

.hljs-type {
  color: #da4939;
}


.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #6d9cbe;
}

.hljs-params {
  color: #d0d0ff;
}

.hljs-attribute {
  color: #cda869;
}

.hljs-meta {
  color: #9b859d;
}

.hljs-title,
.hljs-section {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #9b703f;
}

.hljs-selector-id {
  color: #8b98ab;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: normal;
}

.hljs-link {
  text-decoration: underline;
}

.highlight .kt {
  font-weight: normal;
  color: #00d632;
}

.highlight .nf {
  color: #ef3030;
  font-weight: normal;
}

.fish-container {
  position: fixed;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

.avatar {
  position: absolute;
  top: 25%;
  right: 8%;
  z-index: 200;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-image: url('/assets/images/cameron-de-bruyn.jpg');
  background-position: -20px -50px;
}

.card {
  position: absolute;
  z-index: 300;
  top: 30%;
  right: 25%;
  max-width: 600px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: whitesmoke;

  @media screen and (max-width: 1200px) {
    top: 50%;
    padding: 20px;
    border-radius: 0;
    bottom: 0;
    right: 0;
    width: 95%;
  }
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.light {
  color: rgb(10, 10, 10);
}
