---
layout: default
---

<div class="home">

  {{ content }}

  <h3><b class="">Hi...</b></h3>
  <h5 class="">
    My name is Cameron. I'm an iOS Engineer and an aspiring Data Scientist. I'm on a mission to help you with learning
    about software development topics.
  </h5>
  <p>
    I'm here to help you with keeping development simple. It's true that complexity and architecture is fun. But if
    you truly
    don't know what you are doing it can become a big mess. Often we don't need big solutions to solve small problems.

    So let's go through this together. I was a complexity maniac. Hopefully I've calmed down a bit.
  </p>

  <h2>The roadmap of this blog:</h2>

  <div class="md-stepper-horizontal orange">
    <div class="md-step active">
      <div class="md-step-circle"><span>1</span></div>
      <div class="md-step-title">RxSwift</div>
      <div class="md-step-optional">Reactive Programming</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active">
      <div class="md-step-circle"><span>2</span></div>
      <div class="md-step-title">UITableView</div>
      <div class="md-step-optional">A Generic Approach</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active">
      <div class="md-step-circle"><span>3</span></div>
      <div class="md-step-title">Swift 5.0</div>
      <div class="md-step-optional">A Holistic View</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
  </div>

  <h1 class="page-heading">Posts</h1>

  <div id="search-searchbar"></div>

  <div class="post-list" id="search-hits">
    {% for post in site.posts %}
    <div class="post-item">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
      <div class="post-snippet">{{ post.excerpt }}</div>
    </div>
    {% endfor %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>

{% include algolia.html %}